.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  min-height: 100vh;
  padding-bottom: 30px;
}

.App-header {
  background-color: #1e1e1e;
  padding: 40px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #d6bbf2;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.App-logo {
  height: 150px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 10px rgba(214, 187, 242, 0.7));
}

.promo-text {
  max-width: 800px;
  margin-bottom: 20px;
}

.promo-title {
  font-family: 'Georgia', serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 10px;
}

.highlight {
  color: #d6bbf2;
}

.italic {
  font-style: italic;
  color: #f76092;
}

.promo-description {
  font-family: 'Arial', sans-serif;
  font-size: 1.1rem;
  color: #d6bbf2;
  margin-bottom: 20px;
}

.presave-link {
  color: #f76092;
  text-decoration: none;
  font-weight: bold;
}

.presave-link:hover {
  text-decoration: underline;
}

.confession-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .confession-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .confession-list {
    grid-template-columns: 1fr;
  }
}

.confession-box {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 200px;
}

.confession-header {
  display: flex;
  justify-content: space-between;
  color: #333;
}

.confession-body {
  text-align: left;
  margin-top: 20px;
}

.confession-message {
  font-size: 18px;
  color: #333;
  line-height: 1.7;
}

/* Countdown styling */
.countdown-timer {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #ff4081;
  text-align: right;
}

.countdown-timer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countdown-timer li {
  font-size: 1.2em;
  margin-right: 10px;
  text-align: center;
}

.countdown-timer li span {
  display: block;
  font-size: 2.5rem;
  color: #d6bbf2;  /* Updated number color */
  line-height: 0.2;
}

.countdown-timer li {
  color: #f76092;  /* Updated label color */
}

.countdown-timer .colon {
  font-size: 3rem;
  color: #fff;
  padding-bottom: 30px;
  margin: 10;
}

@media (max-width: 1200px) {
  /* Move countdown under the button on smaller screens */
  .countdown-timer {
    position: static;
    margin-top: 0px;
  }
}

/* Pagination styling */
.pagination {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background-color: #131313;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.page-number {
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

button {
  background-color: #9676b8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  color: #999999;
  background-color: transparent;
  cursor: not-allowed;
}

button.disabled-button {
  color: #868686;
  background-color: transparent;
  cursor: not-allowed;
}

button.disabled-button:hover {
  background-color: transparent;
}

button:hover:not(:disabled) {
  background-color: #c0a9e6;
}