.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34; /* Dark header */
  padding: 20px;
  color: white;
}

.confession-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.confession-box {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-repeat: repeat-y; /* Repeat the image vertically like lined paper */
  background-size: cover; /* Make sure the image scales to fit the box */
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.lined-paper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  background-image: linear-gradient(transparent 24px, rgba(0, 0, 0, 0.1) 25px); /* Lined paper effect */
  background-size: 100% 25px;
  z-index: -1;
}

.confession-header {
  display: flex;
  justify-content: space-between; /* Aligns "To" on the left and timestamp on the right */
  width: 100%;
  margin-bottom: 10px;
  color: #333;
}

.confession-recipient {
  font-weight: bold;
  text-align: left; /* Align "To" on the left */
}

.confession-timestamp {
  font-size: 12px;
  color: #999;
  text-align: right; /* Align timestamp on the right */
}

.divider {
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #999; /* Divider line */
}

.confession-body {
  text-align: left;
  margin-top: 10px;
}

.confession-message {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.pagination {
  position: fixed;
  bottom: 20px; /* Move it slightly above the bottom for visual appeal */
  left: 50%; /* Center the pagination bar */
  transform: translateX(-50%); /* Adjust to center it properly */
  width: 200px; /* Set a fixed width */
  background-color: #131313;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Rounds the corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Increased shadow for visibility */
  z-index: 1000; /* Ensure it's always on top */
}

button {
  background-color: #9676b8; /* Custom purple button */
  color: #fff;
  border: none;
  padding: 8px 16px; /* Reduced padding to make buttons smaller */
  border-radius: 0px;
  margin: 0px;
  cursor: pointer;
  font-size: 14px; /* Slightly smaller font for smaller buttons */
}

button:disabled {
  background-color: #555555; /* Darker background for disabled state */
  color: #999999; /* Lighter text for disabled button */
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #c0a9e6; /* Lighter purple on hover */
}
