.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  padding-bottom: 70px;
}

.App-header {
  background-color: #fdecff;
  padding: 40px 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #d6bbf2;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.App-logo {
  height: 130px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 10px rgba(214, 187, 242, 0.7));
}

.promo-text {
  max-width: 800px;
  margin-bottom: 20px;
}

.promo-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #000;
  margin-bottom: 10px;
}

.highlight {
  color: #350066;
}

.italic {
  font-style: italic;
  color: #8D314C;
}

.promo-description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: #350066;
  margin-bottom: 20px;
}

.presave-link {
  color: #8D314C;
  text-decoration: none;
  font-weight: bold;
}

.presave-link:hover {
  text-decoration: underline;
}

.confession-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.confession-list-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  row-gap: 0px;
  padding: 0px;
  width: 100%;
  max-width: 1200px;
  margin: 0px;
}

@media (max-width: 1200px) {
  .confession-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .confession-list {
    grid-template-columns: 1fr;
  }
}

.confession-header {
  display: flex;
  justify-content: space-between;
  color: #333;
}

.confession-body {
  text-align: left;
  margin-top: 20px;
}

.confession-message {
  font-size: 18px;
  color: #333;
  line-height: 1.7;
}

.confession-timestamp,
.confession-recipient,
.confession-header,
.confession-body,
.confession-message {
  font-family: 'Patrick Hand SC', cursive !important;
}

/* Countdown styling */
.countdown-timer {
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: right;
}

.countdown-timer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countdown-timer li {
  font-size: 1.2em;
  margin-right: 10px;
  text-align: center;
}

.countdown-timer li span {
  display: block;
  font-size: 2rem;
  padding: 0 5px;
  min-width: 40px;
  color: #350066;
  line-height: 0.2;
}

.countdown-timer li {
  color: #8D314C;
}

.countdown-timer .colon {
  font-size: 2rem;
  color: #000000;
  padding-bottom: 30px;
  margin: 10;
}

@media (max-width: 1200px) {
  /* Move countdown under the button on smaller screens */
  .countdown-timer {
    position: static;
    margin-top: 0px;
  }
}

/* Pagination styling */
.pagination {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background-color: #faf3ff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.page-number {
  color: rgb(0, 0, 0);
  margin: 0 15px;
  font-weight: bold;
}

button {
  background-color: #9676b8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  color: #999999;
  background-color: transparent;
  cursor: not-allowed;
}

button.disabled-button {
  color: #868686;
  background-color: transparent;
  cursor: not-allowed;
}

button.disabled-button:hover {
  background-color: transparent;
}

button:hover:not(:disabled) {
  background-color: #c0a9e6;
}

/* Footer styling */
.App-footer {
  margin-top: 40px;
  padding: 10px;
  font-size: 0.9rem;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-top: 3px solid #d6bbf2;
}

.App-footer a {
  color: #8D314C;
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}
